openapi: 3.1.0
info:
  title: StudyAI News API
  version: 0.1.0
  description: Versioned contract for the StudyAI News public and editorial APIs.
servers:
  - url: https://news.studyai.now
paths:
  /api/news/v1/health:
    get:
      operationId: getNewsApiHealth
      summary: Read API deployment health and version metadata
      responses:
        "200":
          description: API is available
          headers:
            X-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
components:
  schemas:
    HealthResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - service
        - version
        - release
        - environment
        - traceId
      properties:
        ok:
          type: boolean
          const: true
        service:
          type: string
          const: studyai-news-api
        version:
          type: string
        release:
          type: string
        environment:
          type: string
          enum:
            - development
            - staging
            - production
            - test
        traceId:
          type: string
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - error
        - traceId
      properties:
        ok:
          type: boolean
          const: false
        error:
          type: object
          additionalProperties: false
          required:
            - code
            - message
          properties:
            code:
              type: string
            message:
              type: string
        traceId:
          type: string
  responses:
    MethodNotAllowed:
      description: Method is not supported for this route
      headers:
        Allow:
          schema:
            type: string
            const: GET
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
