openapi: 3.1.0
info:
  title: StudyAI News API
  version: 0.6.0
  description: Versioned contract for public News APIs and editorial APIs reached only through the authenticated StudyAINow admin proxy.
servers:
  - url: https://news.studyai.now
paths:
  /api/news/v1/health:
    get:
      operationId: getNewsApiHealth
      summary: Read API deployment health and version metadata
      responses:
        "200":
          description: API and the expected News schema are available
          headers:
            X-Request-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: News schema is missing or does not match the application
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchemaUnavailableResponse"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
  /api/news/v1/home:
    get:
      operationId: getNewsPublicHome
      summary: Read SSR-ready published articles, official source signals and categories
      responses:
        "200":
          description: Public News home data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicHomeResponse"
  /api/news/v1/articles:
    get:
      operationId: listNewsPublicArticles
      summary: List only free, human-approved and currently published articles
      parameters:
        - name: category
          in: query
          schema:
            type: string
        - name: tag
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Public article cards
          content:
            application/json:
              schema:
                type: object
                required: [ok, articles, traceId]
                properties:
                  ok: { type: boolean, const: true }
                  articles:
                    type: array
                    items: { $ref: "#/components/schemas/PublicArticleCard" }
                  traceId: { type: string }
  /api/news/v1/articles/{slug}:
    get:
      operationId: getNewsPublicArticle
      summary: Read one free, human-approved and currently published article
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Published article, sources and approved learning links
          content:
            application/json:
              schema:
                type: object
                required: [ok, article, traceId]
                properties:
                  ok: { type: boolean, const: true }
                  article: { type: object, additionalProperties: true }
                  traceId: { type: string }
        "404":
          $ref: "#/components/responses/NotFound"
  /api/admin/news/sources:
    get:
      operationId: listNewsSources
      summary: List approved source configuration and ingestion health
      security:
        - ingestionOperator: []
      responses:
        "200":
          description: Source health list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceHealthResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createNewsSource
      summary: Create a paused source pending policy review
      security:
        - ingestionOperator: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SourceCreateRequest"
      responses:
        "201":
          description: Paused source created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceMutationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/admin/news/sources/probe:
    post:
      operationId: probeNewsSource
      summary: Validate robots policy, safety limits, feed structure and quality
      security:
        - ingestionOperator: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SourceProbeRequest"
      responses:
        "200":
          description: Source probe result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceProbeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/admin/news/sources/{sourceId}:
    parameters:
      - $ref: "#/components/parameters/SourceId"
    patch:
      operationId: updateNewsSource
      summary: Update source status or policy review state
      security:
        - ingestionOperator: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SourceUpdateRequest"
      responses:
        "200":
          description: Source updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceMutationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: retireNewsSource
      summary: Soft-retire a source without deleting evidence
      security:
        - ingestionOperator: []
      responses:
        "200":
          description: Source retired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceMutationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/admin/news/sources/{sourceId}/run:
    parameters:
      - $ref: "#/components/parameters/SourceId"
    post:
      operationId: runNewsSource
      summary: Run one approved source with idempotency protection
      security:
        - ingestionOperator: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            minLength: 8
            maxLength: 120
      responses:
        "200":
          description: Ingestion completed or was deduplicated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManualIngestionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          description: Source ingestion failed and was recorded for retry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManualIngestionResponse"
  /api/admin/news/dashboard:
    get:
      operationId: getNewsEditorialDashboard
      summary: Read editorial queue counts
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      responses:
        "200":
          $ref: "#/components/responses/AdminData"
  /api/admin/news/candidates:
    get:
      operationId: listNewsCandidates
      summary: List clustered and enriched source candidates
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      responses:
        "200":
          $ref: "#/components/responses/AdminData"
  /api/admin/news/candidates/enrich:
    post:
      operationId: enrichNewsCandidates
      summary: Run deterministic deduplication and controlled metadata enrichment
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          $ref: "#/components/responses/AdminData"
        "400":
          $ref: "#/components/responses/BadRequest"
  /api/admin/news/candidates/{storyId}:
    parameters:
      - $ref: "#/components/parameters/StoryId"
    patch:
      operationId: updateNewsCandidateMetadata
      summary: Human-review and lock a candidate category and tags
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      responses:
        "200":
          $ref: "#/components/responses/AdminData"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/admin/news/stories/{storyId}:
    parameters:
      - $ref: "#/components/parameters/StoryId"
    get:
      operationId: getNewsStoryResearch
      summary: Read a story research package, source evidence and Claim Ledger
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      responses:
        "200":
          $ref: "#/components/responses/AdminData"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/admin/news/stories/{storyId}/research:
    parameters:
      - $ref: "#/components/parameters/StoryId"
    post:
      operationId: generateNewsStoryResearch
      summary: Generate or reuse an immutable deterministic source-bound research package
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          $ref: "#/components/responses/AdminData"
        "400":
          $ref: "#/components/responses/BadRequest"
  /api/admin/news/stories/{storyId}/learning-links:
    parameters:
      - $ref: "#/components/parameters/StoryId"
    post:
      operationId: generateNewsLearningLinks
      summary: Generate versioned skill and course suggestions from the trusted Core catalog
      security:
        - studyAiAdminService: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          $ref: "#/components/responses/AdminData"
        "400":
          $ref: "#/components/responses/BadRequest"
  /api/admin/news/learning-links:
    get:
      operationId: listNewsLearningLinks
      summary: List scored, evidenced and reviewable skill or course links
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      responses:
        "200":
          $ref: "#/components/responses/AdminData"
  /api/admin/news/learning-links/{linkId}:
    patch:
      operationId: reviewNewsLearningLink
      summary: Approve, reject or withdraw one learning link with optimistic concurrency
      security:
        - studyAiAdminService: []
      parameters:
        - name: linkId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          $ref: "#/components/responses/AdminData"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          description: Learning link edit conflict
  /api/admin/news/stories/{storyId}/claims:
    parameters:
      - $ref: "#/components/parameters/StoryId"
    post:
      operationId: createNewsClaim
      summary: Add an explicitly typed human Claim pending source evidence
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      responses:
        "201":
          $ref: "#/components/responses/AdminData"
        "400":
          $ref: "#/components/responses/BadRequest"
  /api/admin/news/claims/{claimId}:
    patch:
      operationId: reviewNewsClaim
      summary: Review a Claim and append its immutable revision record
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      responses:
        "200":
          $ref: "#/components/responses/AdminData"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/admin/news/claims/{claimId}/evidence:
    post:
      operationId: addNewsClaimEvidence
      summary: Attach immutable evidence from a source item in the same story
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      responses:
        "201":
          $ref: "#/components/responses/AdminData"
        "400":
          $ref: "#/components/responses/BadRequest"
  /api/admin/news/articles:
    get:
      operationId: listNewsArticles
      summary: List editorial articles and publication states
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      responses:
        "200":
          $ref: "#/components/responses/AdminData"
    post:
      operationId: createNewsArticle
      summary: Create a manually edited article and immutable first revision
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      responses:
        "201":
          $ref: "#/components/responses/AdminData"
        "400":
          $ref: "#/components/responses/BadRequest"
  /api/admin/news/articles/{articleId}:
    parameters:
      - $ref: "#/components/parameters/ArticleId"
    get:
      operationId: getNewsArticle
      summary: Read an article with revisions, approvals, taxonomy and audit history
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      responses:
        "200":
          $ref: "#/components/responses/AdminData"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: reviseNewsArticle
      summary: Save an immutable article revision using optimistic concurrency
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      responses:
        "200":
          $ref: "#/components/responses/AdminData"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          description: Article version conflict
  /api/admin/news/articles/{articleId}/actions/{action}:
    parameters:
      - $ref: "#/components/parameters/ArticleId"
      - name: action
        in: path
        required: true
        schema:
          type: string
          enum: [submit, return, reject, approve, schedule, publish, correct, withdraw, reopen]
    post:
      operationId: performNewsArticleAction
      summary: Perform an audited, idempotent editorial state transition
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          $ref: "#/components/responses/AdminData"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/admin/news/taxonomy:
    get:
      operationId: listNewsTaxonomy
      summary: List controlled primary categories and tags
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      responses:
        "200":
          $ref: "#/components/responses/AdminData"
  /api/admin/news/taxonomy/tags:
    post:
      operationId: createNewsTag
      summary: Create a human-controlled tag
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      responses:
        "201":
          $ref: "#/components/responses/AdminData"
  /api/admin/news/taxonomy/{taxonomyId}:
    parameters:
      - $ref: "#/components/parameters/TaxonomyId"
    patch:
      operationId: updateNewsTaxonomy
      summary: Update a category or tag display name, aliases and status
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      responses:
        "200":
          $ref: "#/components/responses/AdminData"
  /api/admin/news/taxonomy/{taxonomyId}/merge:
    parameters:
      - $ref: "#/components/parameters/TaxonomyId"
    post:
      operationId: mergeNewsTag
      summary: Merge a tag into an active canonical tag
      security:
        - ingestionOperator: []
        - studyAiAdminService: []
      responses:
        "200":
          $ref: "#/components/responses/AdminData"
components:
  securitySchemes:
    ingestionOperator:
      type: http
      scheme: bearer
      bearerFormat: opaque-operator-token
    studyAiAdminService:
      type: apiKey
      in: header
      name: X-StudyAI-Admin-Service-Token
      description: Internal credential sent only by the authenticated studyai.now admin proxy.
  parameters:
    SourceId:
      name: sourceId
      in: path
      required: true
      schema:
        type: string
        pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$"
    StoryId:
      name: storyId
      in: path
      required: true
      schema:
        type: string
    ArticleId:
      name: articleId
      in: path
      required: true
      schema:
        type: string
    TaxonomyId:
      name: taxonomyId
      in: path
      required: true
      schema:
        type: string
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 8
        maxLength: 120
  schemas:
    PublicArticleCard:
      type: object
      additionalProperties: true
      required: [id, slug, title, summary, articleType, publishedAt, tags]
      properties:
        id: { type: string }
        slug: { type: string }
        title: { type: string }
        summary: { type: string }
        articleType: { type: string }
        publishedAt: { type: string, format: date-time }
        correctedAt:
          oneOf: [{ type: string, format: date-time }, { type: "null" }]
        tags:
          type: array
          items: { type: object, additionalProperties: true }
    PublicHomeResponse:
      type: object
      additionalProperties: true
      required: [ok, articles, signals, categories, disclosure, traceId]
      properties:
        ok: { type: boolean, const: true }
        featured:
          oneOf: [{ $ref: "#/components/schemas/PublicArticleCard" }, { type: "null" }]
        articles:
          type: array
          items: { $ref: "#/components/schemas/PublicArticleCard" }
        signals:
          type: array
          items: { type: object, additionalProperties: true }
        categories:
          type: array
          items: { type: object, additionalProperties: true }
        disclosure: { type: string }
        traceId: { type: string }
    HealthResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - service
        - version
        - release
        - environment
        - database
        - traceId
      properties:
        ok:
          type: boolean
          const: true
        service:
          type: string
          const: studyai-news-api
        version:
          type: string
        release:
          type: string
        environment:
          type: string
          enum:
            - development
            - staging
            - production
            - test
        database:
          $ref: "#/components/schemas/SchemaStatus"
        traceId:
          type: string
    SchemaStatus:
      type: object
      additionalProperties: false
      required:
        - ok
        - currentVersion
        - expectedVersion
      properties:
        ok:
          type: boolean
        currentVersion:
          oneOf:
            - type: integer
            - type: "null"
        expectedVersion:
          type: integer
          minimum: 1
    SchemaUnavailableResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - service
        - version
        - release
        - environment
        - database
        - error
        - traceId
      properties:
        ok:
          type: boolean
          const: false
        service:
          type: string
          const: studyai-news-api
        version:
          type: string
        release:
          type: string
        environment:
          type: string
          enum:
            - development
            - staging
            - production
            - test
        database:
          $ref: "#/components/schemas/SchemaStatus"
        error:
          type: object
          additionalProperties: false
          required:
            - code
            - message
          properties:
            code:
              type: string
              const: schema_unavailable
            message:
              type: string
        traceId:
          type: string
    SourceHealthResponse:
      type: object
      additionalProperties: false
      required: [ok, sources, traceId]
      properties:
        ok:
          type: boolean
          const: true
        sources:
          type: array
          items:
            $ref: "#/components/schemas/SourceHealth"
        traceId:
          type: string
    SourceHealth:
      type: object
      additionalProperties: true
      required: [id, name, sourceType, trustTier, status, fetchUrl, policyStatus, robotsStatus, allowHtmlFetch, consecutiveFailures]
      properties:
        id:
          type: string
        name:
          type: string
        sourceType:
          type: string
          enum: [rss, atom]
        trustTier:
          type: string
          enum: [A, B, C, D]
        status:
          type: string
          enum: [active, paused, retired]
        fetchUrl:
          type: string
          format: uri
        policyStatus:
          type: string
          enum: [review_required, approved, blocked]
        robotsStatus:
          type: string
          enum: [unknown, allowed, disallowed, error]
        allowHtmlFetch:
          type: integer
          enum: [0]
        consecutiveFailures:
          type: integer
          minimum: 0
    SourceCreateRequest:
      type: object
      additionalProperties: false
      required: [id, name, homepageUrl, feedUrl, sourceType, trustTier, language, termsNote, allowedHosts]
      properties:
        id:
          type: string
          pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$"
        name:
          type: string
        homepageUrl:
          type: string
          format: uri
        feedUrl:
          type: string
          format: uri
        sourceType:
          type: string
          enum: [rss, atom]
        trustTier:
          type: string
          enum: [A, B, C, D]
        language:
          type: string
        termsNote:
          type: string
        allowedHosts:
          type: array
          minItems: 1
          maxItems: 5
          items:
            type: string
        scheduleCron:
          type: string
        maxResponseBytes:
          type: integer
          minimum: 1024
          maximum: 1048576
        maxItemsPerPoll:
          type: integer
          minimum: 1
          maximum: 20
        minPollIntervalSeconds:
          type: integer
          minimum: 900
          maximum: 86400
    SourceUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        status:
          type: string
          enum: [active, paused, retired]
        policyStatus:
          type: string
          enum: [review_required, approved, blocked]
        robotsStatus:
          type: string
          enum: [unknown, allowed, disallowed, error]
        policyReviewedAt:
          type: string
          format: date-time
        nextPolicyReviewAt:
          type: string
          format: date-time
        scheduleCron:
          type: string
        reason:
          type: string
    SourceMutationResponse:
      type: object
      additionalProperties: true
      required: [ok, traceId]
      properties:
        ok:
          type: boolean
          const: true
        sourceId:
          type: string
        status:
          type: string
        policyStatus:
          type: string
        traceId:
          type: string
    SourceProbeRequest:
      type: object
      additionalProperties: false
      required: [feedUrl, allowedHosts, sourceType, trustTier, language]
      properties:
        feedUrl:
          type: string
          format: uri
        allowedHosts:
          type: array
          minItems: 1
          maxItems: 5
          items:
            type: string
        sourceType:
          type: string
          enum: [rss, atom]
        trustTier:
          type: string
          enum: [A, B, C, D]
        language:
          type: string
        maxItemsPerPoll:
          type: integer
          minimum: 1
          maximum: 20
    SourceProbeResponse:
      type: object
      additionalProperties: false
      required: [ok, probe, traceId]
      properties:
        ok:
          type: boolean
          const: true
        probe:
          type: object
          additionalProperties: true
        traceId:
          type: string
    ManualIngestionResponse:
      type: object
      additionalProperties: false
      required: [ok, result, traceId]
      properties:
        ok:
          type: boolean
        result:
          type: object
          additionalProperties: true
        traceId:
          type: string
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - error
        - traceId
      properties:
        ok:
          type: boolean
          const: false
        error:
          type: object
          additionalProperties: false
          required:
            - code
            - message
          properties:
            code:
              type: string
            message:
              type: string
        traceId:
          type: string
  responses:
    AdminData:
      description: Authenticated editorial response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
            required: [ok, traceId]
            properties:
              ok:
                type: boolean
                const: true
              traceId:
                type: string
    BadRequest:
      description: Request validation or source policy failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: StudyAINow admin service identity or operational credential is missing or invalid
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Requested News object was not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    MethodNotAllowed:
      description: Method is not supported for this route
      headers:
        Allow:
          schema:
            type: string
            const: GET
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
